<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="pilot" class="com.xgj.ioc.inject.construct.loopsolve.Pilot">
		<property name="pilotNname" value="XGJ"></property>
		<property name="plane" ref="plane"></property>
	</bean>
	<bean id="plane" class="com.xgj.ioc.inject.construct.loopsolve.Plane">
		<property name="planeBrand" value="F35"></property>
		<property name="pilot" ref="pilot"></property>
	</bean>

</beans>
