<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="pilot" class="com.xgj.ioc.inject.construct.cascadeProperty.Pilot">
		<!-- 以圆点的方式定义级别属性 -->
		<property name="plane.brand" value="A380"/>
	</bean>
</beans>
